header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  cursor: pointer;

  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    height: 40px;
  }

  > h1 {
    display: none;
  }
}

main {
  margin-top: 70px;
}
